<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.ac.shef.oak.com4510">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/trip_planner_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/trip_planner_icon_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Com4510TripPlanner"
            android:name="uk.ac.shef.oak.com4510.TripPlannerApplication">
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAQ4ZDGyQlHdzmY28GwFEG_JxtPFQ59sAU" />
        <activity
                android:name="uk.ac.shef.oak.com4510.views.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="uk.ac.shef.oak.com4510.views.PhotoDetailsActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.PhotoDisplayActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.PhotoGalleryActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.PhotoMapActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.TripCreationActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.TripGalleryActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.TripPhotoActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.TripTripActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.CameraActivity"
                  android:exported="false"/>
        <activity android:name="uk.ac.shef.oak.com4510.views.TripOverviewActivity"
                  android:exported="false"/>
        <service
                android:name=".services.LocationService"
                android:exported="false"/>
        <service
                android:name=".services.PhotoMapLocationService"
                android:exported="false"/>
    </application>

</manifest>