<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tripplanner">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/trip_planner_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/trip_planner_icon_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Com4510TripPlanner"
            android:name=".TripPlannerApplication">
        <activity
                android:name="com.example.tripplanner.views.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.PhotoDetailsActivity"
                  android:exported="false"/>
        <activity android:name=".views.PhotoDisplayActivity"
                  android:exported="false"/>
        <activity android:name=".views.PhotoGalleryActivity"
                  android:exported="false"/>
        <activity android:name=".views.PhotoMapActivity"
                  android:exported="false"/>
        <activity android:name=".views.TripCreationActivity"
                  android:exported="false"/>
        <activity android:name=".views.TripGalleryActivity"
                  android:exported="false"/>
        <activity android:name=".views.TripPhotoActivity"
                  android:exported="false"/>
        <activity android:name=".views.TripTripActivity"
                  android:exported="false"/>
        <activity android:name=".views.CameraActivity"
                  android:exported="false"/>
    </application>

</manifest>